*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100;
    vertical-align: baseline;
}
body{
    text-align: center;
    font-family: sans-serif;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #097381;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar{
    display: flex;
    margin-right: 10px;
}
.logo{
    color: #fff;
    margin: 10px;
    width: 50px; height: 50px;
    transform: translate(1px, -6.5px);
    border-radius: 10%;
}

.logo a{
    margin: 15px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
.binicio{
    display: block;
    padding: 23px 20px;
    color: #fffdfd;
    transform: translate(-770px)
}
.navbar a{
    display: block;
    padding: 23px 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar a:hover{
    background: #7fb10a;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    height: 60vh !important;
    background: url(picture/tie.jpg) no-repeat center;
    background-size: cover;
}
.title{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600px;
    text-transform: uppercase;
    color: #000000;
}
.text-inic{
    margin: center;
    margin-bottom: 40px;
    transform: translate(0px, 100px);
    font-size: 18px;
    color: #fffbfb;
}
.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: none;
    color: #fff;
    text-decoration: none;
    background: #7fb10a;
}
.btn:hover{
    background: #097381;
}
.btn-home{
    display: flex;
}
.btn-home a{
    margin: 0 10px;
}
